<br/>
&emsp;
<div class='row align-items-center p-3'>
  <div class='col text-center'>
    <%= image_tag('main/main-logo.svg', class: 'img-fluid', alt: "main-logo") %>
    <br/>
    &emsp;
    <h3 class='text-primary'>
      <strong class="fw-bolder fs-1">
        Peraeque
      </strong>
      <br/>
      <small class="fw-light fs-5 fst-italic">
        statisticamente pensando
        <br/>
        <span class="fw-light fs-6 fst-normal text-info">
          Dal Latino
          <br/>
          in modo perfettamente uguale, allo stesso modo, senza differenza, esattamente
        </span>
      </small>
    </h3>
    <hr class="text-primary"/>
    <span class='text-primary'>
      Applicazione web per la consultazione statistica del tesseramento
    </span>
    <br/>
    &emsp;
    <br/>
    <h4 class='text-primary'>
      Versione 1.0.0
    </h4>
  </div>
  <div class='col text-center'>
    <%= image_tag('main/davosky-logo.svg', class: 'img-fluid', alt: "davosky-logo") %>
    <br/>
    &emsp;
    <h3 class="text-primary">
      <strong class="fw-bolder fs-1">
        The Davosky Connection
      </strong>
    </h3>
    <hr class="text-primary"/>
    <span class="text-primary">
      by
    </span>
    <br/>
    <h4 class="text-primary">
      <a href='mailto:davodavosky@gmail.com'>
        Davo Davodsky
      </a>
    </h4>
    <br/>
  </div>
</div>
